<h1>Contact me</h1>

<h3>My phone number:</h3>
<p><%= number_to_phone "8013906628" %></p>

<h3>Email:</h3>
<P><a href="mailto:18cluna@go.dsdmail.net?subject=PortfolioContact" "email me">Email me</a></P>

 <div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.8714728790083!2d-112.12079904864402!3d41.11549797918843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87531a4a0d2baac5%3A0x9d2d674e7898c5cf!2s133+N+4850+W%2C+West+Point%2C+UT+84015!5e0!3m2!1sen!2sus!4v1500571803900" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
 </div>
</div>